main {
    display: flex;

    #list {
        width: 100vw;
        max-width: 425px;
        height: calc(100vh - 93px);
        max-height: calc(100vh - 93px);
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 25px;

        .category {
            margin-bottom: 16px;

            .option {
                height: 44px;
                display: flex;
                align-items: center;
                padding-left: 32px;
                border-bottom: var(--border);
                background: white;
                cursor: pointer;

                &.categoryName {
                    background: #f8f8f8;
                    border-radius: 4px 4px 0 0;
                }

                &.active {
                    background-color: var(--green);
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }

    #category,
    #product {
        max-width: 590px;
        width: 100vw;
        background: white;
        border-radius: 4px;
        height: fit-content;
        max-height: calc(100vh - 93px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 16px;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 24px;
            font-size: 16px;

            button {
                border: none;
                background: none;
                margin-left: 16px;
                cursor: pointer;
                transition: ease all .2s;
                border-radius: 4px;
                padding: 8px;

                &:hover {
                    background: #d9d9d9;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            margin-top: 16px;

            label {
                font-size: 14px;
                margin-bottom: 4px;
                margin-top: 8px;
            }

            input {
                padding: 8px;
                border: var(--border);
            }

            textarea {
                padding: 8px;
                resize: none;
                border: var(--border);

            }
        }
    }
}

.custom-input {
    position: relative;
    display: inline-block;

    input[type="file"] {
        display: none;
    }

    label {
        display: inline-block;
        padding: 48px 32px;
        background-color: #f0f0f0;
        cursor: pointer;
    }

    span {
        font-size: 14px;
        color: #333;
    }
}