<app-navbar [isDeletePossible]="isDeletePossible"></app-navbar>
<main>

    <div id="list">
        <div *ngFor="let category of data.reverse()" class="category" draggable="true"
            (dragstart)="onDragStartCategory($event, category)" (dragover)="onDragOverCategory($event)"
            (drop)="onDropCategory($event, category)">

            <div class="option categoryName {{category._id}}" (click)="showCategory(category)">{{category.name}}</div>

            <div *ngFor="let product of category.products" class="option product" draggable="true"
                (dragstart)="onDragStartProduct($event, product)" (dragover)="onDragOverProduct($event)"
                (drop)="onDropProduct($event, product)" (click)="showProduct(product)">
                {{product.name}}
            </div>
        </div>
    </div>

    <div *ngIf="isCategory && isDetail" id="category">
        <div class="head">
            <div class="name">{{displayCategory.name}}</div>
            <div class="icons">
                <button> <img src="/assets/icons/eye.svg" alt="">
                </button>
                <button> <img src="/assets/icons/trash.svg" alt="">
                </button>
                <button (click)="hideDetail()"> <img src="/assets/icons/close.svg" alt="">
                </button>
            </div>
        </div>
        <form action="">
            <label for="ref">Réference de la catégorie</label>
            <input type="text" id="ref" placeholder="ex: #123" [value]="displayCategory.ref">
            <label for="name">Nom</label>
            <input type="text" id="name" placeholder="Tacos à composer" [value]="displayCategory.name">
            <label for="description">Description</label>
            <textarea rows="4" id="description" placeholder="Tacos à composer"
                [value]="displayCategory.description"></textarea>

            <label id="thumbnailLabel" for="imageInput">Thumbnail</label>
            <div class="custom-input">
                <input type="file" id="imageInput" accept="image/*" (change)="handleFileInput($event)" />
                <label for="imageInput">
                    <img src="/assets/icons/add.svg" alt="">
                </label>
            </div>
        </form>
    </div>

    <div *ngIf="!isCategory && isDetail" id="product">
        <div class="head">
            <div class="name">{{displayProduct.name}}</div>
            <div class="icons">
                <button> <img src="/assets/icons/eye.svg" alt="">
                </button>
                <button> <img src="/assets/icons/trash.svg" alt="">
                </button>

                <button (click)="hideDetail()"><img src="/assets/icons/close.svg" alt=""></button>
            </div>
        </div>
        <form action="">
            <label for="ref">Réference du produit</label>
            <input type="text" id="ref" placeholder="ex: #123" [value]="displayProduct.ref">
            <label for="name">Nom</label>
            <input type="text" id="name" placeholder="Tacos à composer" [value]="displayProduct.name">
            <label for="description">Description</label>
            <textarea rows="4" id="description" placeholder="Tacos à composer"
                [value]="displayProduct.description"></textarea>

            <label for="imageInput" id="thumbnailLabel">Images</label>
            <div class="custom-input">
                <input type="file" id="imageInput" accept="image/*" (change)="handleFileInput($event)" />
                <label for="imageInput">
                    <img src="/assets/icons/add.svg" alt="">

                </label>
            </div>
        </form>
        <div class="block">
            <input type="checkbox" name="sku" id="isMultipleSku" checked>
            <label for="isMultipleSku">Ce produit a plusieurs SKUs, telles ques des tailles ou des couleurs</label>
        </div>
        <div class="block skus">
            <div class="title">
                <label>Nom de la SKU</label>
                <label>Prix</label>
                <label>Code ref</label>
                <label>Activée</label>
            </div>
            <div class="data" *ngFor="let sku of displayProduct.skus">
                <p class="limited">{{sku.name}}</p>
                <p class="limited">{{sku.price}}</p>
                <p class="limited">{{sku.ref}}</p>
                <input type="checkbox" name="" id="" [checked]="sku.afficher">
            </div>

        </div>
        <div class="block new">
            <img src="/assets/icons/add.svg" alt="">

            <p>Nouvelle SKU</p>
        </div>

        <div class="block optionLists" *ngIf="displaySku.option_list_ids.length">
            <p class="headTitle">Liste d'options</p>
            <div class="lists">
                <p class="list" *ngFor="let sku of displayProduct.skus">{{sku.name}}</p>
            </div>
        </div>

        <div *ngIf="displaySku.option_list_ids.length" class="block optionActive">
            <div class="title">
                <label class="limited">Nom</label>
                <label class="limited">Min/Max</label>
                <label>Options</label>
            </div>
            <div class="data" *ngFor="let optionList of displaySku.option_list_ids; let i = index">
                <p class="limited underlined" (click)="swichSku(i)">{{optionList.name}}</p>
                <p class="limited">{{optionList.min_selections}} / {{optionList.max_selections}}</p>
                <p class="large">
                    <span *ngFor="let option of optionList.options; let last = last">
                        {{ option.name }}{{ !last ? ',' : '' }}
                    </span>
                </p>
            </div>
        </div>


        <div class="block new" (click)="showAddSku()">
            <img src="/assets/icons/add.svg" alt="">

            <p for="isMultipleSku">Associer une liste d'option</p>
        </div>
    </div>
</main>
<div *ngIf="isAddSku" class="add">
    <div class="card">
        <div class="head">
            <p>Nom du produit</p>
            <img src="/assets/icons/close.svg" (click)="hideAddSku()" alt="">

        </div>
        <form class="input">
            <label for="name">Sélectionner des listes d'option</label>
            <app-search-select></app-search-select>
        </form>
        <div class="validation">
            <button class="green" (click)="hideAddSku()">Créer</button>
            <button (click)="hideAddSku()">Annuler</button>
        </div>
    </div>
</div>