main {
    display: flex;

    #list {
        width: 100vw;
        max-width: 425px;
        height: calc(100vh - 93px);
        max-height: calc(100vh - 93px);
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 25px;
        display: flex;
        flex-direction: column;

        .category {
            margin-bottom: 16px;

            .option {
                height: 44px;
                display: flex;
                align-items: center;
                padding-left: 32px;
                border-bottom: var(--border);
                background: white;
                cursor: pointer;

                &.categoryName {
                    background: #f8f8f8;
                    border-radius: 4px 4px 0 0;
                }

                &.active {
                    background-color: var(--green);
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }

    #category,
    #product {
        max-width: 590px;
        width: 100vw;
        background: white;
        border-radius: 4px;
        height: calc(100vh - 93px);
        max-height: calc(100vh - 93px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 16px;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 24px;
            font-size: 16px;

            button {
                border: none;
                background: none;
                margin-left: 16px;
                cursor: pointer;
                transition: ease all .2s;
                border-radius: 4px;
                padding: 8px;

                &:hover {
                    background: #d9d9d9;
                }
            }
        }

        .custom-input {
            display: inline-block;
            margin-top: 8px;
            border-radius: 4px;
            height: 96px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
            border: var(--border);
        }

        input[type="file"] {
            display: none;
        }

        label {
            cursor: pointer;
        }

        span {
            font-size: 14px;
            color: #333;
        }
    }

    .block {
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;

        &.new {
            height: 35px;
            display: flex;
            justify-content: start;
            align-items: center;
            cursor: pointer;

            img {
                margin-right: 8px;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

#isMultipleSku,
label[for="isMultipleSku"] {
    margin-right: 8px;
    line-height: 1;
    height: 16px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

input[type="checkbox"]+label {
    line-height: 3px;
}

.block.skus,
.block.optionActive {
    display: flex;
    flex-direction: column;

    .title {
        border-bottom: var(--border);
        width: 480px;
        display: flex;

        label {
            font-size: 12px;
            width: 150px;

            &.limited {
                width: 120px;
            }
        }
    }

    .data {
        padding: 8px 0;
        display: flex;
        flex-direction: row;
        border-bottom: var(--border);

        p.limited {
            width: 120px;
        }

        p.large {
            width: 300px;
        }
    }
}

.block.optionLists {
    flex-direction: column;

    .title {
        font-weight: 600;
        color: #6a6d70;
    }

    .lists {
        display: flex;

        .list {
            margin-right: 16px;
            padding: 16px;
            padding-bottom: 10px;
            cursor: pointer;

            &.active {
                border-bottom: solid 1px #000;
            }
        }
    }

    .title {
        border-bottom: var(--border);
        width: 480px;
        display: flex;

        label {
            font-size: 12px;
            width: 100%;
        }
    }

    .data {
        padding: 8px 0;
        display: flex;
        flex-direction: row;
        border-bottom: var(--border);

        p {
            width: 120px;
        }
    }
}

.underlined {
    text-decoration: underline;
}