<app-navbar-option></app-navbar-option>
<main>
    <div id="list">

        <div *ngFor="let option of data" class="option" draggable="true" #optionDiv
            (dragstart)="onDragStart($event, option)" (dragover)="onDragOver($event)" (drop)="onDrop($event, option)"
            (click)="showDetail(optionDiv, option)">
            <p>{{option.name}}
                <!-- <span *ngIf="option.used != '0'">Utilisée dans {{option.used}}</span>
                <span *ngIf="option.used == '0'">Non utilisée</span> -->
            </p>
        </div>

    </div>
    <div id="detail" *ngIf="isDetail">
        <div class="head">
            <div class="name">Tacos et Sandwichs</div>
            <div class="icons">
                <button><img src="/assets/icons/trash.svg" alt=""></button>
                <button (click)="hideDetail()"><img src="/assets/icons/close.svg" alt=""></button>
            </div>
        </div>
        <div class="minMax">
            <label>Min. sélections</label>
            <label>Miax. sélections</label>
            <p>{{displayList.min_selections}}</p>
            <p>{{displayList.max_selections}}</p>
        </div>
        <div class="tableau">
            <div class="head">
                <label class="large">Nom</label>
                <label class="short">Prix</label>
                <label class="large">Code ref</label>
                <label class="short">Activée</label>
                <label class="short">Variantes</label>
                <label class="short">Défaut</label>
            </div>
            <div class="data" *ngFor="let option of displayList.options">
                <p class="large">{{option.name}}</p>
                <p class="short">{{option.price}}</p>
                <p class="large">{{option.ref}}</p>
                <input class="short" type="checkbox" name="" id="" [checked]="option.afficher">
                <p class="short"></p>
                <input class="short" type="checkbox" name="" id="" [checked]="option.default">
            </div>
        </div>
    </div>
</main>