main {
    display: flex;

    #list {
        width: 100vw;
        max-width: 350px;
        height: calc(100vh - 93px);
        max-height: calc(100vh - 93px);
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 25px;
        display: flex;
        flex-direction: column;

        .option {
            height: 44px;
            display: flex;
            align-items: center;
            padding-left: 32px;
            border-bottom: var(--border);
            background: white;
            cursor: pointer;

            &.active {
                background-color: var(--green);

                p,
                span {
                    color: white !important;
                }
            }

            span {
                color: #686868;
                font-size: 14px;
            }
        }
    }


    #detail {
        max-width: 675px;
        width: 100vw;
        background: white;
        border-radius: 4px;
        max-height: calc(100vh - 93px);
        height: fit-content;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 16px;

        .head {
            &.headList {
                justify-content: space-between;
            }

            display: flex;
            align-items: center;
            height: 24px;
            font-size: 16px;

            button {
                border: none;
                background: none;
                margin-left: 16px;
                cursor: pointer;
                transition: ease all .2s;
                border-radius: 4px;
                padding: 8px;

                &:hover {
                    background: #d9d9d9;
                }
            }
        }

        .minMax {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 16px;
            margin-bottom: 16px;

            label {
                width: 248px;
            }

            input {
                width: 224px;
                margin-right: 16px;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 8px;
            }
        }

        .tableau {
            width: 100%;
            margin-top: 16px;

            .head {
                border-bottom: var(--border);
            }

            input[type="text"] {
                font-size: 14px;
            }


            .short {
                width: 12.5%;
                margin: 4px;
                font-size: 14px;
            }

            .data {
                display: flex;
                width: 100%;
                padding-top: 8px;
                padding-bottom: 8px;
                border-bottom: var(--border);
                align-items: center;

                input[type="text"] {
                    border: none;
                }

                .icons {
                    opacity: 0;
                }

                &:hover {
                    .icons {
                        opacity: 1;

                    }
                }
            }

            .name {
                width: 150px !important;
            }

            input.name {
                width: 130px !important;
                margin-right: 8px;
            }

            .ref {
                width: 150px !important;
            }

            input.ref {
                width: 130px !important;
                margin-right: 8px;
            }

            .price {
                width: 100px !important;
            }

            input.price {
                width: 80px !important;
                margin-right: 8px;
            }

            .small {
                width: 75px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .drag {
                margin-left: 4px;
                height: 25px !important;
                width: 25px !important;
            }
        }
    }
}

input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.block {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.new {
        height: 35px;
        display: flex;
        width: fit-content;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        transition: ease all .2s;
        padding-left: 8px;
        padding-right: 16px;
        border-radius: 4px;

        p {
            margin-bottom: 0;
        }

        &:hover {
            background: #ededed;
        }
    }
}