<app-navbar-option [isDeletePossible]="isDeletePossible"></app-navbar-option>
<main>
    <div id="list">

        <div *ngFor="let option of data" class="option" draggable="true" #optionDiv
            (dragstart)="onDragStart($event, option)" (dragover)="onDragOver($event)" (drop)="onDrop($event, option)"
            (click)="showDetail(optionDiv, option)">
            <p>{{option.name}}
                <!-- <span *ngIf="option.used != '0'">Utilisée dans {{option.used}}</span>
                <span *ngIf="option.used == '0'">Non utilisée</span> -->
            </p>
        </div>

    </div>
    <div id="detail" *ngIf="isDetail">
        <div class="head">
            <input type="text" class="name" name="" id="" [value]="displayList.name">
            <div class="icons">
                <button><img src="/assets/icons/trash.svg" alt=""></button>
                <button (click)="hideDetail()"><img src="/assets/icons/close.svg" alt=""></button>
            </div>
        </div>
        <div class="minMax">
            <label>Min. sélections</label>
            <label>Miax. sélections</label>
            <input type="number" name="" id="" [value]="displayList.min_selections">
            <input type="number" name="" id="" [value]="displayList.max_selections">

        </div>
        <div class="tableau">
            <div class="head">
                <label class="large">Nom</label>
                <label class="short">Prix</label>
                <label class="large">Code ref</label>
                <label class="short">Activée</label>
                <label class="short">Variantes</label>
                <label class="short">Défaut</label>
            </div>
            <div class="data" *ngFor="let oneOption of displayList.options;  let i = index" draggable="true"
                #oneOptionDiv (dragstart)="onDragStartOption($event, oneOption)" (dragover)="onDragOverOption($event)"
                (drop)="onDropOption($event, oneOption, i)">
                <p class="large">{{oneOption.name}}</p>
                <p class="short">{{oneOption.price}}</p>
                <p class="large">{{oneOption.ref}}</p>
                <input class="short" type="checkbox" name="" id="" [checked]="oneOption.afficher">
                <p class="short"></p>
                <input class="short" type="checkbox" name="" id="" [checked]="oneOption.default">
            </div>
        </div>
    </div>
</main>