<nav>
    <div class="contents">
        <div class="left">
            <button (click)="toggleNewModal()" class="option centerize">
                <img src="/assets/icons/add.svg" alt="">
                <p>Nouvelle liste d'option</p>
            </button>
            <button *ngIf="isDeletePossible" class="option centerize">
                <img src="/assets/icons/trash.svg" alt="">
                <p>Supprimer</p>
            </button>
            <button *ngIf="!isDeletePossible" class="option centerize disabled">
                <img src="/assets/icons/trash.svg" alt="">
                <p>Supprimer</p>
            </button>
        </div>
        <div class="right">
            <button class="option centerize">
                <img src="/assets/icons/undo.svg" alt="">
                <p>Défaire</p>
            </button>
            <button class="option centerize">
                <img src="/assets/icons/redo.svg" alt="">
                <p>Refaire</p>
            </button>
            <button class="option centerize">
                <img src="/assets/icons/refresh.svg" alt="">
            </button>
            <button class="save successButton">Enregistrer</button>
        </div>
    </div>


    <div *ngIf="showModal" class="add">
        <div class="card">
            <div class="head">
                <p>Nouvelle liste d'option</p>
                <img src="/assets/icons/close.svg" (click)="toggleNewModal()" alt="">

            </div>
            <form class="input">
                <label for="name">Nom</label>
                <input type="text" id="name">
            </form>
            <div class="validation">
                <button class="green" (click)="toggleNewModal()">Créer</button>
                <button (click)="toggleNewModal()">Annuler</button>
            </div>
        </div>
    </div>
</nav>