.menus {
    max-width: 200px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-right: 25px;

    a {
        text-decoration: none;
        padding: .7rem;
        padding-left: 32px;
        border-radius: 0 4px 4px 0;
        margin-bottom: 4px;

        &.active {
            background: #f8f8f8 !important;
            font-weight: 600;
        }

        &:hover {
            background: #f8f8f8;
        }
    }
}