<nav>
    <div class="contents">
        <div class="left">
            <button class="option">
                <div class="icon-add"></div>
                <p>Nouveau produit</p>
            </button>
            <button class="option">
                <div class="icon-add"></div>
                <p>Nouveau catégorie</p>
            </button>
            <button class="option">
                <p>Supprimer</p>
            </button>
        </div>
        <div class="right">
            <button class="option">
                <p>Défaire</p>
            </button>
            <button class="option">
                <p>Refaire</p>
            </button>
            <button class="option">
                <p>Refresh</p>
            </button>
            <button class="save">Enregistrer</button>
        </div>
    </div>
</nav>