<nav>
    <div class="contents">
        <div class="left">
            <button (click)="toggleNewProduct()" class="option centerize">
                <img src="/assets/icons/add.svg" alt="">
                <p>Nouveau produit</p>
            </button>
            <button class="option centerize" (click)="toggleNewCategory()">
                <img src="/assets/icons/add.svg" alt="">
                <p>Nouvelle catégorie</p>
            </button>
            <button class="option centerize">
                <img src="/assets/icons/trash.svg" alt="">
                <p>Supprimer</p>

            </button>
        </div>
        <div class="right">
            <button class="option centerize">
                <img src="/assets/icons/undo.svg" alt="">
                <p>Défaire</p>

            </button>
            <button class="option centerize">
                <img src="/assets/icons/redo.svg" alt="">
                <p>Refaire</p>

            </button>
            <button class="option centerize">
                <img src="/assets/icons/refresh.svg" alt="">

            </button>
            <button class="save successButton">Enregistrer</button>
        </div>
    </div>

    <div *ngIf="showNewProduct" class="add">
        <div class="card">
            <div class="head">
                <p>Nouveau produit</p>
                <img src="/assets/icons/close.svg" (click)="toggleNewProduct()" alt="">
            </div>
            <form class="input">
                <label for="name">Nom</label>
                <input type="text" id="name">
            </form>
            <div class="validation">
                <button class="green" (click)="toggleNewProduct()">Créer</button>
                <button (click)="toggleNewProduct()">Annuler</button>
            </div>
        </div>
    </div>
    <div *ngIf="showNewCategory" class="add">
        <div class="card">
            <div class="head">
                <p>Nouvelle catégorie</p>
                <img src="/assets/icons/close.svg" (click)="toggleNewCategory()" alt="">

            </div>
            <form class="input">
                <label for="name">Nom</label>
                <input type="text" id="name">
            </form>
            <div class="validation">
                <button class="green" (click)="toggleNewCategory()">Créer</button>
                <button (click)="toggleNewCategory()">Annuler</button>
            </div>
        </div>
    </div>
</nav>