@use '@angular/material' as mat;
@include mat.core();
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$frontend-warn: mat.define-palette(mat.$red-palette);
$frontend-theme: mat.define-light-theme((color: (primary: $frontend-primary,
                accent: $frontend-accent,
                warn: $frontend-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;600;700&display=swap');



:root {
    --primary: #7daf5c;
    --primary-darker: #587c41;
    --background: #ededed;
    --yellow: #d0b555;
    --green: #6db24f;
    --blue: #557aad;
    --grey: #bbbbbb;
    --yellow-darker: #9d8840;
    --green-darker: #587c41;
    --blue-darker: #3b567a;
    --grey-darker: #878787;
    --text-color: #313131;
    --border: solid 1px #e4e4e4
}

* {
    font-family: 'Ubuntu', sans-serif !important;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

body {
    background: var(--background) !important;
    height: 100vh;
    overflow: hidden;

}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 60px;
}

.icon-remove {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 2px;
        background-color: #777777;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }


}




label {
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 8px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    input {
        padding: 8px;
        border: var(--border);
    }

    textarea {
        padding: 8px;
        resize: none;
        border: var(--border);

    }
}

input[type="checkbox"] {
    accent-color: #555555;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: #6db24f !important;
    border-color: #6db24f !important;
}

img {
    height: 20px !important;
    width: 20px !important;
    min-height: 20px !important;
    min-width: 20px !important;
    cursor: pointer;

}

.centerize {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-right: 8px;
    }

    p {
        margin-bottom: 0;
    }
}