<main>
    <mat-form-field>
        <mat-select [formControl]="websiteMultiCtrl" placeholder="SKUs" [multiple]="true" #multiSelect>
            <mat-option>
                <ngx-mat-select-search [formControl]="websiteMultiFilterCtrl"
                    placeholderLabel="Rechercher"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let datum of data" [value]="datum">
                {{datum.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</main>